@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.lists-items {
  padding: 0.6rem;
  display: flex;
  /* margin-top: 1rem; */
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 1rem auto;
}
.lists-items > * {
  margin: 0.6rem;
}
.item-card .ant-card-meta-detail > div,
.item-card .ant-card-meta-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.item-details .ant-btn {
  padding: 0.5rem 1.2rem;
  height: 2.5rem;
}
.item-card .ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.my-card-header .ant-card-meta-title {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.item-card .ant-card-cover > * {
  height: 350px;
}
.item-card .ant-card-meta-description {
  color: black;
}
.my-card .ant-card-head-title {
  background-color: #f0f3f4;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  color: rgb(189, 124, 39);
}
.my-card .ant-card-head {
  padding: 0;
}
.my-card .ant-card-body {
  padding: 1rem 0;
}
.my-card .ant-btn {
  width: 50%;
}
/* 
*/
